<h1>Sign Up Form</h1>

<form action="/register" method="POST">
    <input name ="username" placeholder="username" type ="text">
    <input name = "password" placeholder="password" type ="password">
    <button>Submit</button>
</form>


<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
